/* Estilos para el contenedor del input y el label */
.input-container {
  position: relative;
  width: 100%;
}

/* Estilos para el label encima del input */
.input-label {
  top: -1.5rem; /* Ajusta según sea necesario para la separación entre el label y el input */
  left: 0;
}

/* Estilos para el input */
.custom-input {
  padding-right: 15%; /* Espacio para el icono */
  width: calc(
    100% - 5%
  ); /* El input utilizará todo el ancho disponible menos el espacio para el icono */
  border: 1px solid #cccccc; /* Quitar el borde por defecto */
  outline: none; /* Quitar el contorno por defecto */
  /* Ajusta otros estilos según sea necesario */
}

/* Estilo para el input cuando está enfocado */
.custom-input:focus {
  border: 1px solid black; /* Quitar el borde por defecto */
  //border: none; /* Quitar el borde cuando el input está enfocado */
  /* Añade otros estilos cuando el input está enfocado según sea necesario */
}

.custom-input::placeholder {
  color: #cccccc; /* Color que deseas para el placeholder */
}

/* Estilos para el icono */
.input-icon {
  position: absolute;
  display: block;
  bottom: 0.3rem;
  right: -10%;
}
