.excel-download-button {
    /* Add your styles here */
    background-color: #007bff; /* Blue background */
    color: #fff; /* White text */
    padding: 5px 5px; /* Padding */
    border: none; /* No border */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Cursor style */
    font-size: 12px; /* Font size */
  }
  
  .excel-download-button:hover {
    /* Hover styles */
    background-color: #0056b3; /* Darker blue background */
  }
  