/* Colores de fondo claros */
.background-black-light {
  background-color: var(--color-black-light);
}

.background-blue-light {
  background-color: var(--color-blue-light);
}

.background-brown-light {
  background-color: var(--color-brown-light);
}

.background-cyan-light {
  background-color: var(--color-cyan-light);
}

.background-gray-light {
  background-color: var(--color-gray-light);
}

.background-green-light {
  background-color: var(--color-green-light);
}

.background-lime-light {
  background-color: var(--color-lime-light);
}

.background-magenta-light {
  background-color: var(--color-magenta-light);
}

.background-orange-light {
  background-color: var(--color-orange-light);
}

.background-pink-light {
  background-color: var(--color-pink-light);
}

.background-purple-light {
  background-color: var(--color-purple-light);
}

.background-red-light {
  background-color: var(--color-red-light);
}

.background-teal-light {
  background-color: var(--color-teal-light);
}

.background-white-light {
  background-color: var(--color-white-light);
}

.background-yellow-light {
  background-color: var(--color-yellow-light);
}

/* Colores de fondo medios */
.background-black-medium {
  background-color: var(--color-black-medium);
}

.background-blue-medium {
  background-color: var(--color-blue-medium);
}

.background-brown-medium {
  background-color: var(--color-brown-medium);
}

.background-cyan-medium {
  background-color: var(--color-cyan-medium);
}

.background-gray-medium {
  background-color: var(--color-gray-medium);
}

.background-green-medium {
  background-color: var(--color-green-medium);
}

.background-lime-medium {
  background-color: var(--color-lime-medium);
}

.background-magenta-medium {
  background-color: var(--color-magenta-medium);
}

.background-orange-medium {
  background-color: var(--color-orange-medium);
}

.background-pink-medium {
  background-color: var(--color-pink-medium);
}

.background-purple-medium {
  background-color: var(--color-purple-medium);
}

.background-red-medium {
  background-color: var(--color-red-medium);
}

.background-teal-medium {
  background-color: var(--color-teal-medium);
}

.background-white-medium {
  background-color: var(--color-white-medium);
}

.background-yellow-medium {
  background-color: var(--color-yellow-medium);
}

/* Colores de fondo sólidos (un poco más oscuros) */
.background-black-solid {
  background-color: var(--color-black-solid);
}

.background-blue-solid {
  background-color: var(--color-blue-solid);
}

.background-brown-solid {
  background-color: var(--color-brown-solid);
}

.background-cyan-solid {
  background-color: var(--color-cyan-solid);
}

.background-gray-solid {
  background-color: var(--color-gray-solid);
}

.background-green-solid {
  background-color: var(--color-green-solid);
}

.background-lime-solid {
  background-color: var(--color-lime-solid);
}

.background-magenta-solid {
  background-color: var(--color-magenta-solid);
}

.background-orange-solid {
  background-color: var(--color-orange-solid);
}

.background-pink-solid {
  background-color: var(--color-pink-solid);
}

.background-purple-solid {
  background-color: var(--color-purple-solid);
}

.background-red-solid {
  background-color: var(--color-red-solid);
}

.background-teal-solid {
  background-color: var(--color-teal-solid);
}

.background-white-solid {
  background-color: var(--color-white-solid);
}

.background-yellow-solid {
  background-color: var(--color-yellow-solid);
}
