/* Radio de borde */
:root {
  --border-radius-none: 0;
  --border-radius-sm: 0.25rem; /* Ajusta según sea necesario */
  --border-radius-md: 0.5rem; /* Ajusta según sea necesario */
  --border-radius-lg: 1rem; /* Ajusta según sea necesario */
  --border-radius-xl: 2rem; /* Ajusta según sea necesario */
}

/* Clases CSS */
.border-radius-none {
  border-radius: var(--border-radius-none);
}

.border-radius-sm {
  border-radius: var(--border-radius-sm);
}

.border-radius-md {
  border-radius: var(--border-radius-md);
}

.border-radius-lg {
  border-radius: var(--border-radius-lg);
}

.border-radius-xl {
  border-radius: var(--border-radius-xl);
}
