/* Sombra */
.box-shadow-none {
    box-shadow: none;
  }
  
  .box-shadow-sm {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Ajusta según sea necesario */
  }
  
  .box-shadow-md {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Ajusta según sea necesario */
  }
  
  .box-shadow-lg {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5); /* Ajusta según sea necesario */
  }
  
  .box-shadow-xl {
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.7); /* Ajusta según sea necesario */
  }
  