:root {
  /* Sombra */
  --box-shadow-none: none;
  --box-shadow-sm: 0 2px 4px rgba(0, 0, 0, 0.2);
  --box-shadow-md: 0 4px 6px rgba(0, 0, 0, 0.3);
  --box-shadow-lg: 0 8px 12px rgba(0, 0, 0, 0.5);
  --box-shadow-xl: 0 12px 20px rgba(0, 0, 0, 0.7);
}

.box-shadow-none {
  box-shadow: var(--box-shadow-none);
}

.box-shadow-sm {
  box-shadow: var(--box-shadow-sm);
}

.box-shadow-md {
  box-shadow: var(--box-shadow-md);
}

.box-shadow-lg {
  box-shadow: var(--box-shadow-lg);
}

.box-shadow-xl {
  box-shadow: var(--box-shadow-xl);
}
