.custom-button {
  cursor: pointer;
  border: none;
  outline: none;
  transition: all 0.5s ease;
  display: inline-flex;
  align-items: center; /* Alinea los elementos verticalmente */
  justify-content: center; /* Centra horizontalmente los elementos */
}

.container {
  display: flex;
  align-items: center;
}

.label {
  margin: 0px;
  margin-left: 5px;
}

.hover-color-black:hover {
  color: black;
}
