/* Grosor de fuente */
:root {
  --font-weight-normal: normal;
  --font-weight-bold: bold;
  --font-weight-bolder: bolder;
  --font-weight-lighter: lighter;
  --font-weight-100: 100;
  --font-weight-200: 200;
  --font-weight-300: 300;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;
  --font-weight-800: 800;
  --font-weight-900: 900;
}

/* Clases CSS */
.font-weight-normal {
  font-weight: var(--font-weight-normal);
}

.font-weight-bold {
  font-weight: var(--font-weight-bold);
}

.font-weight-bolder {
  font-weight: var(--font-weight-bolder);
}

.font-weight-lighter {
  font-weight: var(--font-weight-lighter);
}

.font-weight-100 {
  font-weight: var(--font-weight-100);
}

.font-weight-200 {
  font-weight: var(--font-weight-200);
}

.font-weight-300 {
  font-weight: var(--font-weight-300);
}

.font-weight-400 {
  font-weight: var(--font-weight-400);
}

.font-weight-500 {
  font-weight: var(--font-weight-500);
}

.font-weight-600 {
  font-weight: var(--font-weight-600);
}

.font-weight-700 {
  font-weight: var(--font-weight-700);
}

.font-weight-800 {
  font-weight: var(--font-weight-800);
}

.font-weight-900 {
  font-weight: var(--font-weight-900);
}
