/* Clase para el tipo de letra Arial */
body {
  font-family: Arial, sans-serif;
}

.font-arial {
  font-family: Arial, sans-serif;
}

/* Clase para el tipo de letra Helvetica */
.font-helvetica {
  font-family: Helvetica, sans-serif;
}

/* Clase para el tipo de letra Times New Roman */
.font-times {
  font-family: "Times New Roman", serif;
}

/* Clase para el tipo de letra Verdana */
.font-verdana {
  font-family: Verdana, sans-serif;
}
