/* Colores de texto claros */
.color-black-light {
  color: var(--color-black-light);
}

.color-black-medium {
  color: var(--color-black-medium);
}

.color-black-solid {
  color: var(--color-black-solid);
}

.color-blue-light {
  color: var(--color-blue-light);
}

.color-blue-medium {
  color: var(--color-blue-medium);
}

.color-blue-solid {
  color: var(--color-blue-solid);
}

.color-brown-light {
  color: var(--color-brown-light);
}

.color-brown-medium {
  color: var(--color-brown-medium);
}

.color-brown-solid {
  color: var(--color-brown-solid);
}

.color-cyan-light {
  color: var(--color-cyan-light);
}

.color-cyan-medium {
  color: var(--color-cyan-medium);
}

.color-gray-light {
  color: var(--color-gray-light);
}

.color-gray-medium {
  color: var(--color-gray-medium);
}

.color-gray-solid {
  color: var(--color-gray-solid);
}

.color-green-light {
  color: var(--color-green-light);
}

.color-green-medium {
  color: var(--color-green-medium);
}

.color-green-solid {
  color: var(--color-green-solid);
}

.color-lime-light {
  color: var(--color-lime-light);
}

.color-lime-medium {
  color: var(--color-lime-medium);
}

.color-lime-solid {
  color: var(--color-lime-solid);
}

.color-magenta-light {
  color: var(--color-magenta-light);
}

.color-magenta-medium {
  color: var(--color-magenta-medium);
}

.color-magenta-solid {
  color: var(--color-magenta-solid);
}

.color-orange-light {
  color: var(--color-orange-light);
}

.color-orange-medium {
  color: var(--color-orange-medium);
}

.color-orange-solid {
  color: var(--color-orange-solid);
}

.color-pink-light {
  color: var(--color-pink-light);
}

.color-pink-medium {
  color: var(--color-pink-medium);
}

.color-pink-solid {
  color: var(--color-pink-solid);
}

.color-purple-light {
  color: var(--color-purple-light);
}

.color-purple-medium {
  color: var(--color-purple-medium);
}

.color-purple-solid {
  color: var(--color-purple-solid);
}

.color-red-light {
  color: var(--color-red-light);
}

.color-red-medium {
  color: var(--color-red-medium);
}

.color-red-solid {
  color: var(--color-red-solid);
}

.color-teal-light {
  color: var(--color-teal-light);
}

.color-teal-medium {
  color: var(--color-teal-medium);
}

.color-teal-solid {
  color: var(--color-teal-solid);
}

.color-white-light {
  color: var(--color-white-light);
}

.color-white-medium {
  color: var(--color-white-medium);
}

.color-white-solid {
  color: var(--color-white-solid);
}

.color-yellow-light {
  color: var(--color-yellow-light);
}

.color-yellow-medium {
  color: var(--color-yellow-medium);
}

.color-yellow-solid {
  color: var(--color-yellow-solid);
}
