/* Variables para colores de fondo claros */
:root {
  --hover-color-black-light: #333;
  --hover-color-blue-light: #cce5ff;
  --hover-color-brown-light: #e6ccb3;
  --hover-color-cyan-light: #ccffff;
  --hover-color-gray-light: #f2f2f2;
  --hover-color-green-light: #ccffcc;
  --hover-color-lime-light: #e6ffcc;
  --hover-color-magenta-light: #ffccff;
  --hover-color-orange-light: #ffe0b3;
  --hover-color-pink-light: #ffcce6;
  --hover-color-purple-light: #e0ccff;
  --hover-color-red-light: #ffcccc;
  --hover-color-teal-light: #ccffcc;
  --hover-color-white-light: #f5f5f5;
  --hover-color-yellow-light: #ffffcc;
}

/* Variables para colores de fondo medios */
:root {
  --hover-color-black-medium: #222;
  --hover-color-blue-medium: #99ccff;
  --hover-color-brown-medium: #cc9966;
  --hover-color-cyan-medium: #99ffff;
  --hover-color-gray-medium: #cccccc;
  --hover-color-green-medium: #99ff99;
  --hover-color-lime-medium: #ccff99;
  --hover-color-magenta-medium: #ff99ff;
  --hover-color-orange-medium: #ffcc99;
  --hover-color-pink-medium: #ff99cc;
  --hover-color-purple-medium: #cc99ff;
  --hover-color-red-medium: #ff9999;
  --hover-color-teal-medium: #99ff99;
  --hover-color-white-medium: #ddd;
  --hover-color-yellow-medium: #ffff99;
}

/* Variables para colores de fondo sólidos */
:root {
  --hover-color-black-solid: #000;
  --hover-color-blue-solid: #3366cc;
  --hover-color-brown-solid: #663300;
  --hover-color-cyan-solid: #339999;
  --hover-color-gray-solid: #666666;
  --hover-color-green-solid: #33cc33;
  --hover-color-lime-solid: #669933;
  --hover-color-magenta-solid: #cc33cc;
  --hover-color-orange-solid: #cc6600;
  --hover-color-pink-solid: #cc3399;
  --hover-color-purple-solid: #6633cc;
  --hover-color-red-solid: #cc3333;
  --hover-color-teal-solid: #33cc33;
  --hover-color-white-solid: #999;
  --hover-color-yellow-solid: #cccc00;
}

/* Colores de fondo claros con efecto hover */
.hover-color-black-light:hover {
  color: var(--hover-color-black-light);
}

.hover-color-blue-light:hover {
  color: var(--hover-color-blue-light);
}

.hover-color-brown-light:hover {
  color: var(--hover-color-brown-light);
}

.hover-color-cyan-light:hover {
  color: var(--hover-color-cyan-light);
}

.hover-color-gray-light:hover {
  color: var(--hover-color-gray-light);
}

.hover-color-green-light:hover {
  color: var(--hover-color-green-light);
}

.hover-color-lime-light:hover {
  color: var(--hover-color-lime-light);
}

.hover-color-magenta-light:hover {
  color: var(--hover-color-magenta-light);
}

.hover-color-orange-light:hover {
  color: var(--hover-color-orange-light);
}

.hover-color-pink-light:hover {
  color: var(--hover-color-pink-light);
}

.hover-color-purple-light:hover {
  color: var(--hover-color-purple-light);
}

.hover-color-red-light:hover {
  color: var(--hover-color-red-light);
}

.hover-color-teal-light:hover {
  color: var(--hover-color-teal-light);
}

.hover-color-white-light:hover {
  color: var(--hover-color-white-light);
}

.hover-color-yellow-light:hover {
  color: var(--hover-color-yellow-light);
}

/* Colores de fondo medios con efecto hover */
.hover-color-black-medium:hover {
  color: var(--hover-color-black-medium);
}

.hover-color-blue-medium:hover {
  color: var(--hover-color-blue-medium);
}

.hover-color-brown-medium:hover {
  color: var(--hover-color-brown-medium);
}

.hover-color-cyan-medium:hover {
  color: var(--hover-color-cyan-medium);
}

.hover-color-gray-medium:hover {
  color: var(--hover-color-gray-medium);
}

.hover-color-green-medium:hover {
  color: var(--hover-color-green-medium);
}

.hover-color-lime-medium:hover {
  color: var(--hover-color-lime-medium);
}

.hover-color-magenta-medium:hover {
  color: var(--hover-color-magenta-medium);
}

.hover-color-orange-medium:hover {
  color: var(--hover-color-orange-medium);
}

.hover-color-pink-medium:hover {
  color: var(--hover-color-pink-medium);
}

.hover-color-purple-medium:hover {
  color: var(--hover-color-purple-medium);
}

.hover-color-red-medium:hover {
  color: var(--hover-color-red-medium);
}

.hover-color-teal-medium:hover {
  color: var(--hover-color-teal-medium);
}

.hover-color-white-medium:hover {
  color: var(--hover-color-white-medium);
}

.hover-color-yellow-medium:hover {
  color: var(--hover-color-yellow-medium);
}

/* Colores de fondo sólidos con efecto hover */
.hover-color-black-solid:hover {
  color: var(--hover-color-black-solid);
}

.hover-color-blue-solid:hover {
  color: var(--hover-color-blue-solid);
}
.hover-color-brown-solid:hover {
  color: var(--hover-color-brown-solid);
}

.hover-color-cyan-solid:hover {
  color: var(--hover-color-cyan-solid);
}

.hover-color-gray-solid:hover {
  color: var(--hover-color-gray-solid);
}

.hover-color-green-solid:hover {
  color: var(--hover-color-green-solid);
}

.hover-color-lime-solid:hover {
  color: var(--hover-color-lime-solid);
}

.hover-color-magenta-solid:hover {
  color: var(--hover-color-magenta-solid);
}

.hover-color-orange-solid:hover {
  color: var(--hover-color-orange-solid);
}

.hover-color-pink-solid:hover {
  color: var(--hover-color-pink-solid);
}

.hover-color-purple-solid:hover {
  color: var(--hover-color-purple-solid);
}

.hover-color-red-solid:hover {
  color: var(--hover-color-red-solid);
}

.hover-color-teal-solid:hover {
  color: var(--hover-color-teal-solid);
}

.hover-color-white-solid:hover {
  color: var(--hover-color-white-solid);
}

.hover-color-yellow-solid:hover {
  color: var(--hover-color-yellow-solid);
}
