/* Colores de fondo claros con efecto hover */
.hover-background-color-black-light:hover {
  background-color: var(--color-black-light);
}

.hover-background-color-blue-light:hover {
  background-color: var(--color-blue-light);
}

.hover-background-color-brown-light:hover {
  background-color: var(--color-brown-light);
}

.hover-background-color-cyan-light:hover {
  background-color: var(--color-cyan-light);
}

.hover-background-color-gray-light:hover {
  background-color: var(--color-gray-light);
}

.hover-background-color-green-light:hover {
  background-color: var(--color-green-light);
}

.hover-background-color-lime-light:hover {
  background-color: var(--color-lime-light);
}

.hover-background-color-magenta-light:hover {
  background-color: var(--color-magenta-light);
}

.hover-background-color-orange-light:hover {
  background-color: var(--color-orange-light);
}

.hover-background-color-pink-light:hover {
  background-color: var(--color-pink-light);
}

.hover-background-color-purple-light:hover {
  background-color: var(--color-purple-light);
}

.hover-background-color-red-light:hover {
  background-color: var(--color-red-light);
}

.hover-background-color-teal-light:hover {
  background-color: var(--color-teal-light);
}

.hover-background-color-white-light:hover {
  background-color: var(--color-white-light);
}

.hover-background-color-yellow-light:hover {
  background-color: var(--color-yellow-light);
}

/* Colores de fondo medios con efecto hover */
.hover-background-color-black-medium:hover {
  background-color: var(--color-black-medium);
}

.hover-background-color-blue-medium:hover {
  background-color: var(--color-blue-medium);
}

.hover-background-color-brown-medium:hover {
  background-color: var(--color-brown-medium);
}

.hover-background-color-cyan-medium:hover {
  background-color: var(--color-cyan-medium);
}

.hover-background-color-gray-medium:hover {
  background-color: var(--color-gray-medium);
}

.hover-background-color-green-medium:hover {
  background-color: var(--color-green-medium);
}

.hover-background-color-lime-medium:hover {
  background-color: var(--color-lime-medium);
}

.hover-background-color-magenta-medium:hover {
  background-color: var(--color-magenta-medium);
}

.hover-background-color-orange-medium:hover {
  background-color: var(--color-orange-medium);
}

.hover-background-color-pink-medium:hover {
  background-color: var(--color-pink-medium);
}

.hover-background-color-purple-medium:hover {
  background-color: var(--color-purple-medium);
}

.hover-background-color-red-medium:hover {
  background-color: var(--color-red-medium);
}

.hover-background-color-teal-medium:hover {
  background-color: var(--color-teal-medium);
}

.hover-background-color-white-medium:hover {
  background-color: var(--color-white-medium);
}

.hover-background-color-yellow-medium:hover {
  background-color: var(--color-yellow-medium);
}

/* Colores de fondo sólidos con efecto hover */
.hover-background-color-black-solid:hover {
  background-color: var(--color-black-solid);
}

.hover-background-color-blue-solid:hover {
  background-color: var(--color-blue-solid);
}

.hover-background-color-brown-solid:hover {
  background-color: var(--color-brown-solid);
}

.hover-background-color-cyan-solid:hover {
  background-color: var(--color-cyan-solid);
}

.hover-background-color-gray-solid:hover {
  background-color: var(--color-gray-solid);
}

.hover-background-color-green-solid:hover {
  background-color: var(--color-green-solid);
}

.hover-background-color-lime-solid:hover {
  background-color: var(--color-lime-solid);
}

.hover-background-color-magenta-solid:hover {
  background-color: var(--color-magenta-solid);
}

.hover-background-color-orange-solid:hover {
  background-color: var(--color-orange-solid);
}

.hover-background-color-pink-solid:hover {
  background-color: var(--color-pink-solid);
}

.hover-background-color-purple-solid:hover {
  background-color: var(--color-purple-solid);
}

.hover-background-color-red-solid:hover {
  background-color: var(--color-red-solid);
}

.hover-background-color-teal-solid:hover {
  background-color: var(--color-teal-solid);
}

.hover-background-color-white-solid:hover {
  background-color: var(--color-white-solid);
}

.hover-background-color-yellow-solid:hover {
  background-color: var(--color-yellow-solid);
}
