.rounded-none {
  border-radius: 0.0rem; /* Radio de borde muy pequeño */
}

.rounded-xxs {
  border-radius: 0.1rem; /* Radio de borde muy pequeño */
}

.rounded-xs {
  border-radius: 0.2rem; /* Radio de borde extra pequeño */
}

.rounded-sm {
  border-radius: 0.4rem; /* Radio de borde pequeño */
}

.rounded-md {
  border-radius: 0.6rem; /* Radio de borde mediano */
}

.rounded-lg {
  border-radius: 0.8rem; /* Radio de borde grande */
}

.rounded-xl {
  border-radius: 1rem; /* Radio de borde extra grande */
}

.rounded-xxl {
  border-radius: 1.5rem; /* Radio de borde extra extra grande */
}
