@import '../../../scss';

.custom-button {
  padding: $button-padding-medium;
  font-size: $button-font-size-medium;
  cursor: pointer;
  border: none;
  transition: background-color 0.5s ease;

  &.small {
    padding: $button-padding-small;
    font-size: $button-font-size-small;
  }

  &.medium {
    padding: $button-padding-medium;
    font-size: $button-font-size-medium;
  }

  &.large {
    padding: $button-padding-large;
    font-size: $button-font-size-large;
  }

  &:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }

  &:hover:enabled {
    background-color: #0056b3;
  }
}
